<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Angular 8 JWT Login Example</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" formControlName="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email_id">Email_id</label>
                    <input type="text" formControlName="Email_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email_id.errors }" />
                    <div *ngIf="submitted && f.Email_id.errors" class="invalid-feedback">
                        <div *ngIf="f.Email_id.errors.required">Email_id is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Secret_key">Secret_key</label>
                    <input type="Secret_key" formControlName="Secret_key" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Secret_key.errors }" />
                    <div *ngIf="submitted && f.Secret_key.errors" class="invalid-feedback">
                        <div *ngIf="f.Secret_key.errors.required">Secret_key is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>